.*
!.git*
*~
*.a
*.o
*.so
*.so.*
*.pdf
*.log
*.bak
*.gcov
*.diff
mk
CMakeCache.txt
Makefile
*.cmake
install_manifest.txt
CMakeFiles/
tmp/
bak/
attic/
share/
doc/
util/icvutil
build/
dependencies/

debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/tmp
debian/libsecutils
debian/libsecutils-dev
debian/libsecutils-bins
debian/*.substvars
