.*
!.git*
*~
*.a
*.o
*.so
*.pdf
*.log
*.bak
*.gcov
*.diff
mk
tmp/
bak/
attic/
share/
doc/
util/icvutil
build/
dependencies/

debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/tmp
debian/libsecutils{,-dev,-bins}
debian/*.substvars
