Source: libsecutils
Section: libs
Priority: optional
Maintainer: David von Oheimb <david.von.oheimb@siemens.com>
Standards-Version: 4.0.0
Homepage: https://github.com/siemens/libsecutils

Package: libsecutils
Architecture: any
Depends: libssl1.1, libuta
Build-Depends: libssl-dev
Description: OpenSSL wrapper library
 OpenSSL wrapper library for easy re-use of commonly needen functionality

Package: libsecutils-dev
Depends: libsecutils
Architecture: all
Multi-Arch: foreign
Description: Development headers for libsecutils.
 Contains headers for libsecutils

Package: libsecutils-bins
Depends: libsecutils
Build-Depends: libsecutils, libsecutils-dev
Architecture: any
Description: libsecutils CLI applications
 Stand-alone CLI applications using libsecutils

