Source: libsecutils
Section: libs
Priority: optional
Maintainer: David von Oheimb <David.von.Oheimb@siemens.com> Benjamin Schilling <Schilling.Benjamin@siemens.com>
Build-Depends: libssl-dev, debhelper (>= 9), devscripts
#, pkg-config, libuta-dev
Homepage: https://github.com/siemens/libsecutils
Standards-Version: 4.5.1

Package: libsecutils
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Architecture: any
Suggests: libuta
Description: OpenSSL enhancement wrapper library
 OpenSSL wrapper library simplifying use of commonly needed functionality
 With extended support for certficate status checking using CRLs and/or OCSP

Package: libsecutils-dev
Depends: libsecutils (>= 2.0), ${misc:Depends}
Suggests: libssl-dev, libuta-dev
Section: devel
Architecture: all
Multi-Arch: foreign
Description: libsecutils C headers and documentation
 Development support for libsecutils

Package: libsecutils-bin
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: utils
Architecture: any
Description: libsecutils helper binaries
 Stand-alone helper CLI applications using libsecutils
