#!/usr/bin/make -f

# rules for Debian packaging of libsecutils
#
# Copyright (c) Siemens Mobility GmbH, 2021
# 
# Authors:
#  David von Oheimb <David.von.Oheimb@siemens.com>
#
# This work is licensed under the terms of the Apache Software License 2.0.  See
# the COPYING file in the top-level directory.           
#               
# SPDX-License-Identifier: Apache-2.0

CC=$(DEB_HOST_GNU_TYPE)-gcc
CXX=$(DEB_HOST_GNU_TYPE)-g++
AR=$(DEB_HOST_GNU_TYPE)-ar

%:
	dh $@

# make sure that clean_all is used
override_dh_auto_clean:
	make clean_all

# adding compile flags as, defaults are commonly debug flags
override_dh_auto_build:
# clear DEBUG_FLAGS so that the default debian options get applied
	DEBUG_FLAGS="" \
	OPENSSL_DIR=/usr CC=$(CC) CXX=$(CXX) AR=$(AR) \
	dh_auto_build -- -j1 build_only util

override_dh_auto_test:
# do not run any tests
